# Bu .env fayli uchun namuna.
# Ushbu faylni .env deb nomlang va o'z ma'lumotlaringizni kiriting.

TELEGRAM_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
ADMIN_ID="YOUR_TELEGRAM_ADMIN_ID_HERE"
ADMIN_USERNAME="YOUR_TELEGRAM_ADMIN_USERNAME_HERE"